# Chapter3 Practice H.W

In [3]:
#Q3.1
fehreinheit=eval(input("enter the temperature in degree fehreinheit: "))
#formula
celsius= 5/9*(fehreinheit-32)
print("the temperature in degree celsius: ",celsius)

enter the temperature in degree fehreinheit: 50
the temperature in degree celsius:  10.0

In [47]:
#Q3.2
age=eval(input("Enter age number: "))
name=input("enter the name of baseball player: ")
hits=int(input("enter the number of hits: "))
shield=eval(input("enter the variable: "))
north_south_east=input("variable in boolean: ")

          
if age > 62:
          print('You can get your pension benefits')
          
if name in ['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth']:
          print('One of the top 5 baseball players, ever!')
          
if hits > 10 and shield==0:
          print('you are dead...')
          
if north_south_east or west:
          print('i can escape')

Enter age number: 65
enter the name of baseball player: Ruth
enter the number of hits: 12
enter the variable: 0
variable in boolean: True
You can get your pension benefits
One of the top 5 baseball players, ever!
you are dead...
i can escape

In [1]:
#Q3.3
year=eval(input("enter the number of years: "))
if year / 4:
    print('Could be a leap year')
else:
    print('Definitely not a leap year')
    
ticket=str(input("twenty two"))    
lottery=str(input("twenty two"))
if ticket==lottery:
    print('you won!')
else:
    print('better luck next time')

enter the number of years: 2019
Could be a leap year
twenty two5
twenty two5
you won!

In [21]:
#Q3.4
start=str(input("To enter a login Id: "))
valid_user=['joe', 'sue','hani', 'sophie']
if valid_user in list(valid_user):
    print('you are in')
    print('Done')
else:
    print('user unknown')
    print('Done')

To enter a login Id: muaz
user unknown
Done

In [51]:
#Q3.5
Lists=  ['stop', 'desktop', 'top', 'post']
for word in Lists:
    if len(word) == 4:
        print(word)

stop
post

In [55]:
#Q3.6
print("Integers 0 to 9:  ")
for i in range(10):
    print(i, end=', ')
    
print("\n")   
print("Integers 0 to 1:")
for i in range(2):
    print(i,end=" ")
print("\n")

Integers 0 to 9:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

Integers 0 to 1:
0 1

In [62]:
#Q3.7
#a
print("Integers 0 to 12#")
for i in range(3,13):
    print (i,end=" ")
print("\n")
#b
for x in range(0,10,2):
    print (x,end=" ")
print("\n")
#c
for y in range(0,24,3):
    print (y,end=" ")
print("\n")
#d
for z in range(3,12,5):    
    print(z,end=" ")
print("\n")

Integers 0 to 12#
3 4 5 6 7 8 9 10 11 12

0 2 4 6 8

0 3 6 9 12 15 18 21

3 8

In [81]:
#Q3.8
from math import pi
def perimeter():
    radius=eval(input("enter the value of radius: "))
    c=2*pi*radius
    return c
perimeter()

enter the value of radius: 5

31.41592653589793

In [100]:
#Q3.9
def average(x,y):
    x=eval(input("enter the value of x: "))
    y=eval(input("enter the value of y: "))
    return(x+y)/2
avg=average(x,y)
print(avg)

enter the value of x: 10
enter the value of y: 22
16.0

In [5]:
#Q3.10
def noVowel(s):
    c=str(input("enter the string: "))
    s=['car','crypt','cwm']
    for c in s:
        
        if c in 'aeiouAEIOU':
            
            return True
        else:
            return False
        
noVowel('car')   
noVowel('crypt')
noVowel('cwm')

enter the string: bat
enter the string: ball
enter the string: bdp

False

In [49]:
#Q3.11
def allEven(even_number):
  
    for num in even_number:
        if num % 2 == 0:
            
            x=([8, 0 , -2, 4, -6, 10])   
            return True
        
        else:
            y=([8, 0, -1, 4, -6, 10])
            False
        
allEven([8, 0 , -2, 4, -6, 10])      
allEven([8, 0, -1, 4, -6, 10])

True

In [12]:
#Q3.12
def negatives():
    lists=[4, 0, -1, -3, 6, -9]
    for num in lists:
        
        if num < 0:
            print(num, end = " ") 
negatives()

-1 -3 -9

In [42]:
#Q3.13

help(negatives)

-1 -3 -9

In [64]:
#Q3.14
x=[5,6,7]
y=x
x=3
print(x)
print(y)

3
[5, 6, 7]

In [66]:
#Q3.15
team_1=['Ava', 'Eleanor', 'Clare', 'Sarah']
team_2= team_1[0]
team_1[0] = team_1[-1]
team_1[-1] = team_2
print(team_1)

['Sarah', 'Eleanor', 'Clare', 'Ava']

In [70]:
#Q3.16
def swapFL():
    ingredients = ['flour', 'sugar', 'butter', 'apples']
    list_1 = ingredients[0]
    ingredients[0] = ingredients[-1]
    ingredients[-1] = list_1
    print(ingredients)
swapFL()

['apples', 'sugar', 'butter', 'flour']

In [21]:
#Q3.17 (#did not match in any document)
def eval():
    a='2*3+1'
    b='hello'
    c="'hello' + ' ' + 'world!'"
    d="'ASCII'.count('I')"
    e='x=5'
    return()
eval()

()

In [71]:
#Q3.18

a, b, c=3,4,5
#a
if a<b:
    print("OK")
#b
if c<b:
    print("OK")
#c    
if a+b==c:
    print("OK")
#d    
if a**2+b**2==c**2:
    print("OK")

OK
OK

In [72]:
#Q3.19*(same as 3.18)
a, b, c=3,4,5
if a<b:
    print("OK")
else:
    print("NOT OK")
if c<b:
    print("OK")
else:
    print("NOT OK")
if a+b==c:
    print("OK")
else:
    print("NOT OK")
if a**2+b**2==c**2:
    print("OK")
else:
    print("NOT OK")

OK
NOT OK
NOT OK
OK

In [76]:
#Q3.20

list_lst=["January","February","March"]
for word in list_lst:
    print(word[:3])

Jan
Feb
Mar

In [78]:
#Q3.21

list_lst=[2,3,4,5,6,7,8,9]
for i in list_lst:
    if i%2==0:
        print(i)

2
4
6
8

In [79]:
#Q3.22

list_lst=[1,2,3,4,5,6,7,8,9]
for i in list_lst:
    if(i**2)%8==0:
        print(i)

4
8

In [126]:
#Q3.23
i=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]
#a
for i in range(2):
    print(i,end=" ")
#b        
for i in range(1):
    print(i)
#c    
for i in range(3,7):
    print(i,end=" ")
#d    
for i in range(1,2):
    print(i,end=" ")
#e    
for i in range(0,4,3):
    print(i)
#f    
for i in range(5,22,4):
    print(i,end=" ")

0 1 0
3 4 5 6 1 0
3
5 9 13 17 21

In [131]:
#Q3.24
print("# Enter list of words: ")
list_lst=["cia","secret","mi6","isi","secret"]
for word in list_lst:
    if word!="secret":
        print(word)

# Enter list of words:
cia
mi6
isi

In [140]:
#Q3.25
#3.25
list_1=["Ellie","Steve","Sam","Owen","Gavin"]
for words in list_1:
    if words [1]>="A"and words [1]>="M":
        print(words)

Ellie
Steve
Sam
Owen
Gavin

In [142]:
#Q3.26

list=[3,5,7,9]
print("The first list element is",list[0])
print("The last list element is",list[-1])

The first list element is 3
The last list element is 9

In [147]:
#Q3.27
n=int(input("#Enter n: " ))
for i in range(4):
    print(n*i)

#Enter n: 5
0
5
10
15

In [150]:
#Q3.28

n=int(input("#Enter n: " ))
for i in range(n):
    print(i*i)

#Enter n: 3
0
1
4

In [3]:
#Q3.29
n=int(input("#Enter n: " ))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

#Enter n: 49
1
7
49

In [7]:
#Q3.30
n1=float(input("Enter first number: "))
n2=int(input("Enter second number: "))
n3=int(input("Enter third number: "))
n4=float(input("Enter last number: "))
if (n1+n2+n3)/3 == n4:
    print("#equal")

Enter first number: 4.5
Enter second number: 3
Enter third number: 3
Enter last number: 3.5
#equal

In [1]:
#Q3.31(using dart method)
x=float(input("Enter x: "))
y=int(input("Enter y: "))
if x**2+y**2 < 8**2:
    print("It is in!")

Enter x: 2.5
Enter y: 4
It is in!

In [2]:
#Q3.32
x=input("Enter n : ")
x.split()
for i in x:
    print(i)

Enter n : 1234
1
2
3
4

In [7]:
#Q3.33(reverse command used)
def reverse_string(s):
    print (s[::-1])
reverse_string('abc')
reverse_string('tac')

cba
cat

In [10]:
#Q3.34
def pay(hourly_wage,no_hour):
    payment=0
    if(no_hour>40):
        payment=payment +(no_hour-40)*hourly_wage*1.5
        payment=payment+(40)*hourly_wage
    else:
        payment=payment+no_hour*hourly_wage
    print(payment)
pay(10,35)
pay(10,45)

350
475.0

In [33]:
#Q3.35 using probability 
def prob(n):
    n=float(input("Enter n: "))
    x=(2**(-n))
    return x
prob(6)

Enter n: 2

0.25

In [32]:
#Q3.36
def reverse_int(n):
    x=0
    while(n!=0):
        x*=10
        x+=n%10
        n=n//10
    print(x)
reverse_int(123)

321

In [2]:
#Q3.37
import math
def points():
    x1=int(input("points1 : "))
    x2=int(input("points2 : "))
    y1=int(input("points3 : "))
    y2=int(input("points4 : "))
    from math import sqrt
    distance = str(math.sqrt((x1-x2)**2+(y1-y2)**2))
    if(x1==x2):
        slope = "infinity"
    else:
        slope = str((y2-y1)/(x2-x1))
    print("The slope is "+ slope +" and the distance is "+ distance)
points()

points1 : 0
points2 : 0
points3 : 0
points4 : 1
The slope is infinity and the distance is 1.0

In [5]:
#Q3.38 (if and elif use)
def abbreviation():
    day=input("Enter a day : ")
    
    if(day=="Monday"):
        print("Mon")
        
    elif(day=="Tuesday"):
        print("Tu")
        
    elif(day=="Wednesday"):
        print("Wed")
        
    elif(day=="Thursday"):
        print("Th")
        
    elif(day=="Friday"):
        print("Fri")
        
    elif(day=="Saturday"):
        print("Sa")
        
    elif(day=="Sunday"):
        print("Su")
abbreviation()

Enter a day : Tuesday
Tu

In [7]:
#Q3.39(collisions points(0,0,3,0,5,3))for true
def collision():
    x1=eval(input("Enter the value of number : "))
    x2=eval(input("Enter the value of number : "))
    y1=eval(input("Enter the value of number : "))
    y2=eval(input("Enter the value of number : "))
    R1=eval(input("Enter the radius of the first circle : "))
    R2=eval(input("Enter the radius of the second circle : "))
    if(math.sqrt((x1-x2)**2+(y1-y2)**2) > R1+R2):
        print("False")
    else:
        print("True")
collision()

Enter the value of number : 0
Enter the value of number : 0
Enter the value of number : 3
Enter the value of number : 0
Enter the radius of the first circle : 5
Enter the radius of the second circle : 3
True

In [8]:
#Q3.40
def partition():
    list=['Eleanor', 'Evelyn', 'sammy', 'owen', 'Gavin']
    for name in list:
        if name[0] >= "A" and name[0] <= "M":
            print(name)
partition()

Eleanor
Evelyn
Gavin

In [9]:
#Q3.41
def lastF():
    firstname = input("Input your first name : ")
    lastname = input("Input your last name : ")
    print(lastname+", "+firstname[0]+".")
lastF()

Input your first name : muaz
Input your last name : nabeel
nabeel, m.

In [22]:
#Q3.42
def avg(list):
    list=[[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]]
    for list in list:
        print(sum(list)/len(list)) 
        return(list)
avg(list)

90.0

[95, 92, 86, 87]

In [13]:
#Q3.43(values(hit(0, 0, 3, 3, 0)))
import math
def hit():
    x1=int(input("Enter a number : "))
    x2=int(input("Enter a number : "))
    y1=int(input("Enter a number : "))
    y2=int(input("Enter a number : "))
    r=int(input("Enter the radius of the circle : "))
    if (math.sqrt((x1-x2)**2+(y1-y2)**2) > r):
        print("FALSE")
    else:
        print("TRUE")
hit()

Enter a number : 0
Enter a number : 0
Enter a number : 3
Enter a number : 3
Enter the radius of the circle : 0
TRUE

In [4]:
#Q3.44
def distance(n):
    n=int(input("distance: "))
    print(n*340.29/1000)
distance(3)

distance: 3
1.0208700000000002